Package: php5-memcached
Source: php-memcached
Version: 2.2.0-2
Architecture: i386
Maintainer: Debian PHP PECL Maintainers <pkg-php-pecl@lists.alioth.debian.org>
Installed-Size: 159
Depends: libc6 (>= 2.4), libmemcached11, libmemcachedutil2, libsasl2-2, zlib1g (>= 1:1.1.4), php5-common (>= 5.2.0), php5-common (<< 6.0.0), phpapi-20131226, ucf
Section: php
Priority: optional
Homepage: http://pecl.php.net/package/memcached
Description: memcached extension module for PHP5, uses libmemcached
 Memcached is a caching daemon designed especially for
 dynamic web applications to decrease database load by
 storing objects in memory.
 .
 This extension uses libmemcached library to provide
 API for communicating with memcached servers.
