Package: php5-intl
Source: php5
Version: 5.6.7+dfsg-1
Architecture: amd64
Maintainer: Debian PHP Maintainers <pkg-php-maint@lists.alioth.debian.org>
Installed-Size: 410
Depends: libc6 (>= 2.14), libgcc1 (>= 1:4.1.1), libicu52 (>= 52~m1-1~), phpapi-20131226, php5-common (= 5.6.7+dfsg-1), ucf
Conflicts: php5-idn
Replaces: php5-idn
Provides: php5-idn
Section: php
Priority: optional
Homepage: http://www.php.net/
Description: internationalisation module for php5
 This package provides a module to ease internationalisation of PHP scripts.
 .
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.
